.screen {
  min-height: 100vh;
  display: flex;
  font-family: "Inter", "Segoe UI", system-ui, sans-serif;
  padding: 20px 0;
  background: radial-gradient(
    circle at center,
    #1c2e4a 0%,
    #244069 40%,
    #0d1a30 100%
  );
  color: white;
}

.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.container p {
  text-align: center;
  margin-bottom: 2rem;
}

.tablesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.table {
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: left;
}
.table:hover {
  transform: scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.table h3 {
  background: rgba(255, 255, 255, 0.05);
  color: white;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.tableStructure {
  width: 100%;
  border-collapse: collapse;
}

.tableStructure th,
.tableStructure td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.tableStructure th {
  background: #f9f9f9;
  background: rgba(255, 255, 255, 0.4);
  color: white;
  font-weight: 600;
}

.tableStructure tr:last-child td {
  border-bottom: none;
}
.tableStructure tr {
  background: rgba(255, 255, 255, 0.01);
}

.generateButton {
  width: 80%;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  background: linear-gradient(to right, #4361ee, #3a0ca3);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.generateButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
